body {
    max-width: 100%;
    margin: auto;
}

a.navlink:hover {
    border-top: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 100%;
    height: 20vh;
    margin-block: 0rem !important;/*
    margin-inline: 1rem;*/
}
 #logo ul {
     display: flex;
     justify-content: space-between;
     padding-left: 1rem;
 }
 .mobilenav {
     display: flex;
     align-items: center;
     color: #0065fc;
     font-weight: bolder;
     margin-left: 2rem;
     margin-right: 2rem;
 }
.navbar {
    width: 100% !important;
}
.navbar ul {
    display: inline-flex !important;
    align-items: center;
    justify-content: stretch;
    width: 100% !important;
    padding: 0rem;
}

    .heb {
        border-top: none;
        border-bottom: 3px #d4d4d4 solid;
        padding: 0.5rem;
        width: 50%;
        text-align: center;
    }
    .heb:active {
        border-top: 0px transparent solid;
        border-bottom: 3px #0065fc solid;
    }
    .heb:hover {
        border-top: 0px transparent solid;
        border-bottom: 3px #0065fc solid;
    }
    .act {
        color: #000;
        border-bottom: 3px #d4d4d4 solid;
        padding: 0.5rem;
        width: 50%;
        text-align: center;
    }
    .act:active {
        border-top: 0px transparent solid;
        border-bottom: 3px #0065fc solid;
    }
    .act:hover {
        border-top: 0px transparent solid;
        border-bottom: 3px #0065fc solid;
    }
    #nav1 {
        color: #0065fc;
    }    
.nav {
display: none;}

/*CONTAINER*/

.container {
    padding-top: 0.5rem;
}

/*FILTER*/
.filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
.actualfilters {
    height: 60vh;
}
.filterheader {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 1rem;
}
.filterheader h1 {
display: flex;
}
/*SEARCHBAR*/
.searchbar {
    margin-top: 1rem;
    margin-left: 1rem;
    max-width: 90%;
    text-align: center;
}
.iconns {
    flex: 0.5;
    height: 100%;
}
    .icons {
        height: 20px;
    }
    .SearchForm {
        flex: 2;
    }
    #searchbutton {
        display: none;
    }

    #searchbuttonmobile {
        display: block;
         /*Button outside style*/
    border: #F2F2F2 1px solid;
    border-radius: 0.9rem;

         /*Button inside style*/
    background-color: #0065fc;
    height: 100%;

         /*font style*/
    color: #ffffff;
    font-weight: bold;
    flex: 0.4;
    }
    /*CATEGORIES*/
    
    .categoryfilters {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    #categoryfilters {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 1rem;
        margin: 0rem;
    }

.nbacomodations {
padding-top: 1.5rem;
}

/*RESULTS*/

.results {
    flex-direction: column-reverse !important;
    margin-top: 1rem;
}

    .accomodations {
    width: 95% !important;
    background: none !important;
    }


        /*Card Block*/
    /*rows*/
    .AccRow1 {
        display: flex;
        flex-direction: column;
    } 
    .AccRow2 {
        display: flex;
        flex-direction: column;
    }
        /*Each Card*/
        .Card {
            margin: 0.5rem !important;
        }
        /*Pictures*/
        .accpic, .accpic2 {
            height: 115px;
        }
        .AccTextCard {
            height: 70px;
        }

    /*POPULAR*/
    .popular {
        border-radius: 0rem;
        width: 100%;
        height: 90vh;
    }
    .popularheader {
        font-size: small;
    }
        /*Card Block*/
        .threecards {
            width: 85%;
            margin: 1rem;
            justify-content: flex-start;
            height: fit-content;
        }
            /*Each card*/
            .AsideCard {
                width: 100%;
                margin: 0.3rem;
            }
            .hotel {
                color: #000;
            }
            .texteuh {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
            }

/*ACTIVITIES*/
.activities {
    max-width: 100%;
}
    /*Cards Block*/
    .fourcolumns {
        height: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .col, .col1, .col2 {
        height: fit-content;
        width: 95% !important;
        margin: 0rem !important;
        padding: 0.5rem;
    }
    .col2 {
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .row, .row1, .row2 {
        display: block;
    }
    .row2 {
        position: initial;
    }

    /*Each Card*/
    .col1card, .ActivityCards, .smallactcard, .Card {
        border-radius: 2rem 2rem 2rem 2rem !important;
        box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.13) !important;
        background-color: #ffffff !important;
        height: 180px !important;
        width: 95% !important;
        overflow: hidden !important;
        margin: 0.1rem;
    }
    .ActivityCards {
        margin-right: 0rem;
        width: 100% !important;
        border-radius: 1rem !important;
    }
    
        /*Pictures*/
    
        .actpic, .doubleactpic, .smallactpic {
            max-width: 100% !important;
            height: 130px !important;
        }
        .capplace {
            height: 60px;
            padding-left: 0.5rem;
        }
        .placenames {
            height: 55px;
        }
/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
}
