/*whole page*/
body {
   font-family: 'Raleway', sans-serif;/*
   background-color: black;*/
   max-width: 1440px;
   margin: auto;
}

/*links*/
/*header*/
a.navlink {
   outline: none;
   text-decoration: none;
   color: #000;
}
a.navlink:link {
   outline: none;
   text-decoration: none;
}
a#nav1:visited {
   color: #003482;
   outline: none;
   text-decoration: none;
   font-weight: bold;
}
a#nav2:visited {
   color: #003482;
   outline: none;
   text-decoration: none;
   font-weight: bold;

}
a.navlink:hover {
   border-top: #0065fc 3px solid;
   padding-top: 1.2rem;
   color: #0065fc;
}
/*Categories*/
a.catelink {
   display: inline-flex;
   outline: none;
   text-decoration: none;
   box-sizing: content-box;
}
a.catelink:link {
   display: inline-flex;
   outline: none;
   text-decoration: none;
   box-sizing: content-box;
}

/*Results cards*/
   /*Accomodation cards*/
   a.cardlink {
      outline: none;
      text-decoration: none;
      color: #000;
   }
   a.cardlink:link {
      outline: none;
      text-decoration: none;
      color: #000;
   }
   a.cardlink:visited {
      outline: none;
      text-decoration: none;
      color: #000;
   }
   /*Display More*/
   a.more {
      color: #000;
      outline: none;
      text-decoration: none;
   }
   a.more:link {
      color: #000;
      outline: none;
      text-decoration: none;
   }
   a.more:visited {
      color: #000;
      outline: none;
      text-decoration: none;
   }
   a.more:hover {
      border-bottom: #003482 2px groove;
      transform: scale(1.2);
   }

   /*popular cards*/
   a.popli {
      text-decoration: none;
      color: #000;
   }
   a.popli:hover {
      transform: scale(1.09);
   }

/*Activity cards*/
a.actlink {
   outline: none;
   text-decoration: none;
}
a.actlink:link {
   outline: none;
   text-decoration: none;
}
a.actlink:visited {
   outline: none;
   text-decoration: none;
   color: #000;
   font-weight: bold;
}
.actlink a:hover {
   transform: scale(1.09);
}

/*END LINKS*/

/*COLORS*/
/*Colors given*/
.brightblue {
   color: #0065fc;
}
.lightestblue {
   color: rgb(222, 235, 255)
}
.lightestgrey {
   background-color: #F2F2F2;
}
.lightgrey {
   color: #d9d9d9;
}

/* Color picker*/
.darkgrey {
   color: #404040;
}
/*END COLORS*/

/*Titles*/
h1 {
   font-weight: bold;
   font-size: large;
   margin: 00.4rem;
}
h2 {
   font-weight: bold;
   font-size: small;
   margin: 0.4rem;
   margin-block: 0rem;
   margin-inline: 0rem;
}
.h2 {
   font-size: large;
}
.p {
   font-weight: 600;
}
h3 {
   margin-block: 0rem;
}
h4 {
   margin-block: 0rem;
   font-size: small;
   font-weight: normal;
}
h5 {
   padding: 1rem;
   font-size: large;

}
.bold {
   font-weight: bold;
}
.title1 {
   font-size: x-large;
   margin-top: 2rem;
   margin-left: 1rem;
   margin-bottom: 0.5rem;
}
.title2 {
   font-size: x-large;
   margin-left: 1rem;
}
/*END TITLES*/


/*HEADER*/
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   max-width: 100%;
}

#logo ul {
   list-style-type: none;
}

.navbar {
   width: 30%;
}
   .navbar ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      transition-duration: 0.1s;
      border-top: 3px transparent solid;
      border-bottom: 3px transparent solid;
      padding: 1.5rem;

   }
   .navlink {
      color: #000;
   }
      .nav {
         font-weight: bolder;
         color: #0065fc;
      }
      .mobilenav {
         display: none;
      }
/*END HEADER*/


/*CONTAINER*//*
.container {
   padding-top: 2rem;
}*/
   /*FILTER*/
      .h2margin {
         margin: 0.8rem;
      }
   .searchbar {
      margin: 0.5rem;
      height: 50px;
      display: flex;
      width: 100%;
      overflow: auto;
      align-items: center;
   }
      /*Search Bar*/
      .iconns {
         height: 50px;
         border-radius: 0.6rem 0rem 0rem 0.6rem;
         padding-left: 0.5rem;
         flex: 0 0 55px;
         position: relative;
      }
      .icons {
         height: 20px;
         position: absolute;
         top: 25%;
         left: 40%;
      }
      #searchbutton {
         /*Button outside style*/
         border: #F2F2F2 1px solid;
         border-radius: 0rem 1rem 1rem 0rem;

         /*Button inside style*/
         background-color: #0065fc;
         height: 100%;
         flex: 0 0 100px;

         /*font style*/
         color: #ffffff;
         font-weight: bold;
      }
      #searchbuttonmobile {
         display: none;
      }
      .SearchForm {
         padding: 0 1.5%;
         height: 100%;
         flex: 0 0 235px;
         border: #F2F2F2 0.5px solid;
      }
      .SearchForm::placeholder {
         font-weight: bold;
         color: #000;
      }

      /*Category Filters*/
      .filter {
         width: 80%;
      }
      .categoryfilters {
         display: flex;
         align-items: center;
         margin-top: 1rem;
      }
         #filter {
            margin: 2%;
            font-weight: bold;

         }
         /*Actual Filter*/
         .categoryfilters ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-shrink: 2;
            margin-block: 0rem;
            padding-inline: 0rem;
         }

         .Categoryicon {
            display: flex;
            width: fit-content;
            height: fit-content;
            margin-top: 0.5rem;
            margin-right: 2rem;
            border: 2px solid #d9d9d9;
            border-radius: 2rem;
            font-weight: bold;
            }
            .Categoryicon:hover {
               background: linear-gradient(90deg, rgba(221,238,238,1) 0%, rgba(115,172,245,1) 60%, rgba(55,135,255,0.8276261188068977) 100%);
               transform: scale(1.15);
               color: #ffffff;
            }

         .tryingicon {
            display: inline-flex;
            border: 2px solid #d9d9d9;
            border-radius: 2rem;
            font-weight: bold;

         }

         .wrapicon {
            background-color: #DEEBFF;
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            min-height: 3.5rem;
            min-width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -2px;
         }

            .FilterIcons {
               color: #0065fc;
               height: 1.2rem;
               width: 1.2rem;
               min-height: 1.2rem;
               min-width: 1.2rem;
               display: flex;
               align-items: center;
               justify-content: center;
               border: 2px solid #DEEBFF;
            }
            .category {
               width: fit-content;
               height: fit-content;
               padding-right: 0.5rem;
               padding-left: 0.5rem;
               font-size: small;
               margin: auto;
            }
      /*Number of accomodations exiting*/
      .nbacomodations {
         margin-top: 0.5rem;
         display: inline-flex;
         align-items: center;
      }
      .wrapinfoicon {
         height: 2rem;
         width: 2rem;
         min-height: 2rem;
         min-width: 2rem;
         border: solid 1px #d9d9d9;
         border-radius: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-right: 1rem;
      }
       .infoicon {
         color: #0065fc;
      }
   /*END FILTER*/
         
   /*RESULTS*/
   .results {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: fit-content;
      overflow: hidden;
      margin-top: 2rem;
      margin-bottom: 4rem;
   }

   .rank ul {
      list-style-type: none;
      display: flex;
      margin: 0rem;
      margin-block: 0rem;
      padding-inline: 0rem;
   }


   .accomodations {
      width: 69%;
      border-radius: 2rem;
   }
   
   aside {
      display: flex;
      width: 30%;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 2rem;
   }
   
   .popularheader{
      display: flex;
      color: #000;
      justify-content: space-between;
      align-items: center;
      padding-right: 3rem;
      padding-top: 1.5rem;
   }

   .graph {
      height: 1.5rem;
   }

   
      /*Cards Block*/
      .threecards {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         width: 80%;
         height: 100%;
         margin-left: auto;
         margin-right: auto;
      }
      /*Each Card*/
      .AsideCard {
         display: flex;
         justify-content: space-between;
         background-color: #ffffff;
         height: 145px;
         margin-top: 1rem;
         margin-bottom: 1rem;
         border-radius: 1.5rem;
      }

         /*Pictures*/
         .poppic {
            width: 40%;
            height: 135px;
            object-fit: cover;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            padding: 00.5rem;
         }

         /*Text*/
         .textcard {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 60%;
            height: 145px;
            padding-left: 0.7rem;
         }
         .texteuh {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 95%;
            height: 40%;
         }

         span:after {
            content: ' ';
         }
         span.firstspanrow {
            display: block;
         }
         .secspanrow
         .hotel {
            font-size: medium;
            color: #000
         }         
   /*END POPULAR*/
   
      /*ACCOMODATIONS*/
      /*cards block*/
         /*Each row*/
         .AccRow1 {
            display: flex;
         }
         .AccRow2 {
            display: flex;
         }
         /*Each Card*/
         .Card {
            display: flex;
            flex-direction: column;
            border-radius: 2rem 2rem 2rem 2rem;
            box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.13);
            background-color: #ffffff;
            flex: 0 1 30%;
            width: 30%;
            overflow: hidden;
            margin: 1rem;
            padding: 0.4rem;
            /*padding-bottom: 1rem;*/
            } 
            .Card:hover {
               transform: scale(1.09); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
             }
             
            /*Pictures*/
            .accpic, .accpic2 {
               width: 100%;
               object-fit: cover;
               border-radius: 2rem 2rem 0rem 0rem;
               height: 130px;
            }
            /*Text*/
            .AccTextCard {
               display: flex;
               flex-direction: column;
               justify-content: space-between; 
               height: 75px;
               width: 100%;
               padding: 0.5rem;
            }
            .hotel1 {
               width: 95%;
            }
            .text {
               color: #000;
               height: 50%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
            }           

   /*Display More*/
      .SeeMore {
         padding: 1rem;
      }
   /*END ACCOMODATIONS*/

   /*POPULAR*/     



   /*ACTIVITIES*/
   .activities {
      margin: auto;
      width: 90%;
   }
   /*Cards Block*/
   .fourcolumns {
      display: flex;
      height: 455px;
      width: 100%;
   }
      /*Each Column*/
      .col {
         width: 25%;
         height: 455px;
         overflow: hidden;
         position: relative;
         margin: 1rem;
      }

      /*1 Picture column*/

         .col1card {
            height: 450px;
         }
         .actpic {
            object-fit: cover;
            height: 390px;
            width: 100%;
         }

      /*2 Pictures Column*/
      .col2 {
         position: relative;
      }
         /*Rows*/
         .row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;/*
            padding: 0rem;*/
         }
         .row2 {
            position: absolute;
            bottom: 1.1%;
         }

         /*Each Cards*/
         .ActivityCards {
            box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.13);
            width: 100%;
            border-radius: 1rem 1rem 1rem 1rem;
            border: #F2F2F2;
/*            border: black 2px solid;
            background-color: #ffffff;*/
         }
         #firstactcard {
            height: 240px;
         }
         #secactcard {
            height: 170px;
         }
         #thirdactcard {
            height: 200px;
         }
         #fourthactcard {
            height: 215px;
         }
            /*Pictures*/
            .doubleactpic {
               object-fit: cover;
               width: 100%;
            }
            .actpic, .doubleactpic {
               border-radius: 1rem 1rem 0rem 0rem;
            }
            figure {
             margin-block: 0rem;
             margin-inline: 0rem;  
            }
            #firstactpic {
               height: 180px;
            }
            #secactpic {
               height: 115px;

            }
            #thirdactpic {
               height: 140px;
            }
            #fourthactpic {
               height: 160px;
            }

            
            /*Text*/
            .capplace {
               position: relative;
               height: 60px;
            }
            .placename {
               padding-left: 0.5rem;
               font-weight: 700;
               color: #000;
               position: absolute;
               bottom: 50%;
               font-size: small;
               margin: 0.4rem;
            }

   /*END ACTIVITIES*/

/*FOOTER*/
footer {
   width: 100%;
   display: flex;
   padding: 2rem 0rem;
   margin-top: 2rem;
}
   .footertitle{
      font-weight: bold;
      font-size: large;
      margin: 00.4rem;
   }

   .footernav {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-right: 10rem;
   }
      .footerlist {
      list-style-type: none;
      padding: 0px;
      }
/*END FOOTER*/
