/*whole page*/
body {
   font-family: 'Raleway', sans-serif;
   display: flex;
   flex-direction: column;/*
   background-color: black;*/
}

/*links*/
/*header*/
a.navlink {
   outline: none;
   text-decoration: none;
}
a.navlink:link {
   outline: none;
   text-decoration: none;
}
a#nav1:visited {
   color: #0065fc;
   outline: none;
   text-decoration: none;
}
a#nav2:visited {
   color: #404040;
   outline: none;
   text-decoration: none;
}
a.navlink:hover {
border-bottom: #003482 2px groove;
}
/*Categories*/
a.catelink {
   display: inline-flex;
   outline: none;
   text-decoration: none;
   box-sizing: content-box;
}
a.catelink:link {
   display: inline-flex;
   outline: none;
   text-decoration: none;
}
a.catelink:visited {
   display: inline-flex;
   outline: none;
   text-decoration: none;
   color: #000;
   font-weight: bold;
}
.catelink a:hover

/*Results cards*/
a.cardlink {
   outline: none;
   text-decoration: none;
}
a.cardlink:link {
   outline: none;
   text-decoration: none;
}
a.cardlink:visited {
   outline: none;
   text-decoration: none;
   color: #0a50b9;
}
a.cardlink:hover {
   box-shadow: #003482 4px;
}
   /*popular card links*/
   a.popli {
      display: flex;
      align-items: center;
      height: 15rem;
      overflow: hidden;
   }
   a.popli:link {
      align-items: center;
      display: flex;
      height:15rem;
      overflow: hidden;
   }
   a.popli:visited {
      align-items: center;
      display: flex;
      height: 15rem;
      overflow: hidden;
      color: #0065fc;
   }
   a.popli:hover

/*Activities cards*/
a.actlink {
   outline: none;
   text-decoration: none;
}
a.actlink:link {
   outline: none;
   text-decoration: none;
}
a.actlink:visited {
   outline: none;
   text-decoration: none;
   color: #000;
   font-weight: bold;
}
.actlink a:hover

/*Colors given*/
.brightblue {
   color: #0065fc;
}
.lightestblue {
   color: rgb(222, 235, 255)
}
.lightestgrey {
   background-color: #F2F2F2;
}
.lightgrey {
   color: #d9d9d9;
}

/* Color picker*/
.darkgrey {
   color: #404040;
}

/*Titles*/
h1 {
   font-weight: bold;
   font-size: large;
}
h2 {
   font-size: small;
   font-weight: unset;
}

/*HEADER*/
header {
   display: flex;
   justify-content: space-between;
   height: 10vh;
}
.navbar {
   width: 30%;
}
   .navbar ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition-duration: 0.1s;
      border-top: 3px transparent solid;
      border-bottom: 3px transparent solid;
      margin-top: -0.7rem;

   }
      .mobile {
         display: flex;
         width: 90%;
      }
         .heb {
            border-top: #0065fc 4px solid;
            padding: 2rem;
            transition-duration: 0.1s;
            border-bottom: 3px transparent solid;
         }
         .act {
            padding: 2rem;
            transition-duration: 0.1s;
            border-top: 3px transparent solid;
            border-bottom: 3px transparent solid;
         }
      .nav {
         font-weight: bolder;
      }

/*CONTAINER*/

   /*FILTER*/
   .searchbar {
      height: 4vh;
      display: flex;
      width: 100%;
      overflow: auto;
      align-items: center;
   }
      /*Search Bar*/
      .icons {
         height: 100%;
         border-radius: 0.5rem 0rem 0rem 0.5rem;
         padding-left: 0.5rem;
      }
      #searchbutton {
         /*Button outside style*/
         border: #F2F2F2 1px solid;
         border-radius: 0rem 0.5rem 0.5rem 0rem;

         /*Button inside style*/
         background-color: #0065fc;
         height: 100%;

         /*font style*/
         color: #ffffff;
         font-weight: bold;
      }
      .SearchForm {
         margin-left: 1%;
         padding: 0 1.5%;
         height: 100%;
         border: #F2F2F2 0.5px solid;
      }

      /*Category Filters*/
      .categoryfilters {
         display: flex;
         align-items: center;
      }
         #filter {
            margin: 2%;
            font-weight: bold;
            padding-right: 5%;

         }
         .categoryfilters ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
         }
         .categorieslist {
            width: 15rem;
            margin-right: 2rem;
            border: 2px solid #d9d9d9;
            border-radius: 2rem;
            margin-bottom: 1rem;
            font-weight: bold;
            }
            .FilterIcons {
               color: #0065fc;
               background-color: #DEEBFF;
               border-radius: 100%;
               height: 3rem;
               width: 3rem;
               min-height: 3rem;
               min-width: 3rem;
               display: flex;
               align-items: center;
               justify-content: center;
               border: 2px solid #DEEBFF;
            }
            .category {
               padding: 1rem;
            }
      .nbacomodations {
         display: inline-flex;
         align-items: center;
      }
         
   /*RESULTS*/
   .results {
      display: flex;
      justify-content: space-between;
      height: 100vmin;
      overflow: hidden;
      margin: 5rem;
   }

   .rank ul {
      list-style-type: none;
      display: flex;
   }

      /*ACCOMODATIONS*/
      .accomodations {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         width: 70%;
         border-radius: 2rem 2rem 2rem 2rem;
         padding: 2rem;
      }
      .sixequalcards {
         display: flex;
         flex-wrap: wrap;
         flex-grow: 1;
         justify-content: space-evenly;
      }
      .Card {
         display: flex;
         flex-direction: column;
         border-radius: 2rem 2rem 2rem 2rem;
         background-color: #ffffff;
         flex: 0 1 30%;
         height: 40vh;
         width: 20%;
         overflow: hidden;
         margin: 1rem;
      } 
         .accpic, .accpic2 {
            width: 100%;
            object-fit: cover;
            border-radius: 2rem 2rem 0rem 0rem;
            height: 20vh;
         }

         .AccTextCard {
            height: 5vh;
            margin: 1rem;
         }

         .more {
            padding: 0.5rem;
         }
         .bold {
            font-weight: bold;
         }
      /*POPULAR*/      
      .popular {
         width: 25%;
         display: flex;
         flex-direction: column;
         border-radius: 2rem 2rem 2rem 2rem;

      }
      .popularheader{
         display: flex;
         color: #000;
         justify-content: space-between;
         align-items: center;
         padding-right: 3rem;
      }
      .graph {
         height: 3vh;
      }

      .threecards {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-content: center;
         width: 80%;
         height: 18vh;
      }

         .AsideCard {
         display: flex;
         border-radius: 2rem 2rem 2rem 2rem;
         background-color: #ffffff;
         height: 24vh;
         width: 25rem;
         margin: 1.1rem;
         margin-top: 2rem;
         margin-bottom: 2rem;
         }
         .popcard {
            display: flex;
            flex-direction: column;
         }

            .textcard {
               width: 50%;
               padding-left: 0.7rem;
            }

            .texteuh {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
            }

            .poppic {
               width: 40%;
               height: 22vh;
               object-fit: cover;
               border-radius: 2rem 0rem 0rem 2rem;
            }

            .lpic {
               height: 15rem;
            }


   /*ACTIVITIES*/
   .fourcolumns {
      display: flex;
      height: 80vmin;
      width: 100%;
   }
   .col {
      height: 79vmin;
      width: 25%;
      overflow: hidden;
   }

      .col1 {
         height: 100%;
      }
         .actpic {
            object-fit: cover;
            height: 60vmin;
            width: 100%;
         }

      .col2 {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
      }
      .row 
      .row1 {
height: 40%;      }
      .row2 {
height: 40%;      }

      .ActivityCards {
         box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.37);
         width: 100%;
         border-radius: 1rem 1rem 1rem 1rem;
         border: #F2F2F2;

      }

         .doubleactpic {
            object-fit: cover;
            height: 25vh;
            width: 100%;
         }
         .actpic, .doubleactpic {
            border-radius: 1rem 1rem 0rem 0rem;
         }

         .placename {
            padding-left: 5rem;
            padding-bottom: 2rem;
            font-weight: bold;
            color: #000;
         }
/*FOOTER*/