body {
    max-width: 100%;
    margin: auto;
}

/*LINKS*/
a.popli {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
 }
 a.popli:link {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
 a.popli:visited {
    flex-direction: column; 
    justify-content: space-between;
    width: 100%;
    height: 200px;
}


/*HEADER*/
header {
    justify-content: space-between;
    align-items: center;
}
.navbar {
    margin-top: 0.5rem;
    width: 50%;
}
.navbar ul {
    width: 90%;
    align-items: center;
}
.heb {
    border-radius: 2rem;
    padding: 0.5rem;
    background: #d4d4d4;
}

/*CONTAINER*/
.container {
    padding-top: 0rem;
}
/*FILTER*/
.filter {
    padding-left: 1rem;
    height: 27vh;
}
.searchbar {
    justify-content: center;
}
.categoryfilters {
    justify-content: flex-start;
}
/*RESULTS*/
.results {
    flex-direction: column-reverse;
    margin-top: 0rem;
}
    /*Accomodations*/
    .accomodations {
        background: none;
        width: 100%;
    }
    .more {
        padding-left: 2rem;
    }
    /*Popular*/
    .popular {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .popularheader {
        margin: 1rem;
    }
    .threecards {
        flex-direction: row;
        width: 95%;
        height: 250px;
    }
    .AsideCard {
        flex-direction: column;
        justify-content: flex-start;
        height: 220px;
        width: 230px;
        margin: 0.5rem;
    }
    .poppic {
        width: 215px;
        height: 120px;
        border-radius: 2rem 2rem 0rem 0rem;
        padding-right: 0.5rem;
    }
    .textcard {
        padding: 2px;
        width: 225px;
        height: 220px;
        font-size: smaller;
        margin-left: 0.5rem;
        padding-bottom: 1rem;
        justify-content: space-between;
    }
    .texteuh {
        height: 60%;
        width: 222px;
    }
    span.firstspanrow {
        display: inline;
    }
    span.firstspanrow::after {
        content: ' -';
    }
    .hotel {
        font-size: medium;
    }
    .AsideStars {
        padding-top: 0.5rem;
    }
/*ACTIVITIES*/
.fourcolumns {
    flex-direction: column;
    height: 1600px;
}
.col {
    display: flex;
    width: 100%;
}
.col2 {
    display: flex;
    align-items: center;
}
.row2 {
    position: static;
    bottom: unset;
    margin: 0.5rem;

}

.ActivityCards, .col1card, #firstactcard, #secactcard, #thirdactcard, #fourthactcard {
    height: 360px;
}
.actpic, .doubleactpic, #secactpic, #firstactpic, .smallactpic, #thirdactpic, #fourthactpic {
    height: 300px;
}
.capplace {
    height: 50px;
}
/*FOOTER*/
footer {
    justify-content: space-around;
    padding: 0rem 0rem 1rem 0rem;
}
.footernav {
    margin: 0rem;
}